## PANDAS IN PYTHON

In [1]:
!python --version

Python 3.12.0

### KEY DATA STRUCTURES IN PANDAS 
- SERIES = 1D
- DATAFRAME = 2D

In [3]:
import pandas as pd

In [7]:
s = pd.Series([1,2,3,4,5], index= ['a','b','c','d','e'])

In [8]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
df = pd.DataFrame({"names" : ["harry", "arpan", "shubh", "rohan"], "marks":[78,100,67,21]})

df

   names  marks
0  harry     78
1  arpan    100
2  shubh     67
3  rohan     21