In [1]:
import pandas as pd

In [2]:
forestArea = {
 'Assam' :pd.Series([78438, 2797,
10192, 15116], index = ['GeoArea', 'VeryDense',
'ModeratelyDense', 'OpenForest']),
 'Kerala' :pd.Series([ 38852, 1663,
9407, 9251], index = ['GeoArea' ,'VeryDense',
'ModeratelyDense', 'OpenForest']),
 'Delhi' :pd.Series([1483, 6.72, 56.24,
129.45], index = ['GeoArea', 'VeryDense',
'ModeratelyDense', 'OpenForest'])}
forest_Area_dataframe = pd.DataFrame(forestArea)

In [3]:
print(forest_Area_dataframe.index)
print(forest_Area_dataframe.dtypes)
print(forest_Area_dataframe.values)
print(forest_Area_dataframe.columns)

Index(['GeoArea', 'VeryDense', 'ModeratelyDense', 'OpenForest'], dtype='object')
Assam       int64
Kerala      int64
Delhi     float64
dtype: object
[[7.8438e+04 3.8852e+04 1.4830e+03]
 [2.7970e+03 1.6630e+03 6.7200e+00]
 [1.0192e+04 9.4070e+03 5.6240e+01]
 [1.5116e+04 9.2510e+03 1.2945e+02]]
Index(['Assam', 'Kerala', 'Delhi'], dtype='object')

In [4]:
forest_Area_dataframe.shape

(4, 3)

In [5]:
forest_Area_dataframe.size

12

In [6]:
forest_Area_dataframe.head()

                 Assam  Kerala    Delhi
GeoArea          78438   38852  1483.00
VeryDense         2797    1663     6.72
ModeratelyDense  10192    9407    56.24
OpenForest       15116    9251   129.45

In [7]:
forest_Area_dataframe.head(3)

                 Assam  Kerala    Delhi
GeoArea          78438   38852  1483.00
VeryDense         2797    1663     6.72
ModeratelyDense  10192    9407    56.24

In [8]:
forest_Area_dataframe.tail(2)

                 Assam  Kerala   Delhi
ModeratelyDense  10192    9407   56.24
OpenForest       15116    9251  129.45